@model ListeDeLivre.Models.Confirmationlecture
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmationDeLecture</title>
</head>
<body>
    <div>
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://localhost:50639/Livres/EcranAccueil">Accueil</a></li>
                    <li role="presentation"><a href="http://localhost:50639/Livres/EcranDetail">Détails</a></li>
                    <li role="presentation"><a href="http://localhost:50639/Livres/ConfirmationNotation"> Confirmation De Lecture</a></li>
                    <li role="presentation"><a href="http://localhost:50639/Livres/ConfirmationNotation"> Notation</a></li>
                </ul>
            </nav>

            <div>
                <div class="alert alert-success" role="alert">
                    Vous avez bien terminé: @Model.Titre  le :@Model.DateFinDeLecture.ToLongTimeString();
                </div>
            </div>

            <h3 class="text-muted">Bienvenu sur ma lite de lecture!</h3>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
